body {
  margin: 0;
  font-family: 'Cantarell', sans-serif;
  color: black;
  background-color: white;
}

@media only screen and (max-width: 1100px) {
  /*HomePage*/
  body .header-container {
    padding: 1rem 1rem;
    height: 30vh;
  }

  .specials-image {
    display: none;
  }

  .specials-content {
    margin-left: 3.8rem;
    font-size: 20px;
  }

  @media only screen and (max-width: 800px) {
    /*HomePage*/
    body .hamburger-menu {
      display: block;
      margin-right: 10rem;
    }

    body .social-icons {
      display: none;
    }

    body .navbar-container {
      display: none;
    }

    .specials-content {
    }
  }

  @media only screen and (max-width: 500px) {
    /*HomePage*/
    body .hamburger-menu {
      display: block;
      margin-right: 5rem;
    }
  }
}
